html {
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.outer {
  width: 100%;
  height: 100%;
  text-align: center;
}

.envelope, .shadow {
  width: 100%;
  text-align: center;
}

.envelope-pict {
  position: relative;;
  top: 40vh;
  z-index: 0;
}

.envelope-pict:hover{
  cursor: pointer;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

.shadow-pict {
  position: relative;;
  top: 42vh;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

.paper {
  font-family: 'VT323', monospace;
  width: 400px;
  height: auto;
  border: 4px solid #515395;
  border-radius: 30px;
  margin: auto;
  position: absolute;
  left:  calc(50% - 30px);
  background: white;
  top: calc(50% - 400px);
  display: none;
  opacity: 1;
  animation: fade 2s linear;
  background-color: #FFF5F9;
  color: #CC7F9F;
}

.paper:hover {
  cursor: pointer;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

h2 {
  font-size: 30px;
}

p2 {
  font-size: 23px;
}

@keyframes fade {
  0%,100% { opacity: 0.8 }
  100% { opacity: 1 }
}

.inner {
  padding: 30px;
}

.right {
  text-align: right;
}