doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
